
<h1>Hola!</h1>

<div id= "products" class="container">
  <div class="row">
    {{#each products}}
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">{{price}}</p>
            <p class="card-text">{{code}}</p>
            <p class="card-text">{{stock}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>


