<h1>Lista de Productos</h1>
<div class="row">
  {{#each products}}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>{{title}}</h2>
          <p><strong>Descripción:</strong> {{description}}</p>
          <p><strong>Precio:</strong> ${{price}}</p>
          <p><strong>Categoría:</strong> {{category}}</p>
          <p><strong>Stock:</strong> {{stock}}</p>

          <a href="/products/{{pid}}" class="btn btn-primary">Ver detalles</a>

          <!-- Formulario para agregar al carrito -->

         <form id="addToCartForm" method="POST" action="/api/cart/add-to-cart">
  <input type="hidden" name="pid" value="{{pid}}" />
  <label for="quantityInput">Cantidad:</label>
  <input type="number" id="quantityInput" name="quantity" value="1" min="1" />
  <button type="submit">Agregar al carrito</button>
</form>

          <script src="/client.js"></script>
        </div>
      </div>
    </div>
  {{/each}}
</div>


