<h1>Lista de Productos</h1>
<div class="row" id="productsContainer">
</div>

<script id="product-template" type="text/x-handlebars-template">
  {{#each products}}
    <div class="col-md-4"> <div class="card"> <div class="card-body"> <h2>{{title}}</h2>
    <p><strong>Descripción:</strong>
    {{description}}</p> <p><strong>Precio:</strong> ${{price}}</p>
    <p><strong>Categoría:</strong>
    {{category}}</p> <p><strong>Stock:</strong>
    {{stock}}</p> 
    
    <!-- Formulario para agregar al carrito --> 
  <form class="addToCartForm" data-pid="{{{_id}}}">
  <label for="quantityInput">Cantidad:</label>
  <input type="number" id="quantityInput" name="quantity" value="1" min="1" />
  <button type="submit">Agregar al carrito</button>
</form>

</form>
      </div> 
      </div> 
      </div>
  {{/each}}
</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
></script>

<script src="client.js"></script>